@import "govuk-frontend/dist/govuk/index.scss";

html {
  background: #f3f2f1;
}

body {
  margin: 0;
}

.govuk-header__logotype {
  fill: #fff;
  color: #fff;
}

.govuk-header__link--homepage {
  text-decoration: none;
  display: inline-block;
  border-bottom: max(3px, 0.1875rem) solid transparent;
}

.govuk-header__link--homepage:hover {
  border-bottom-color: #fff;
}
